<h1>Character Counter</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTfXfoaGsR68AEpjZ0Veq_q-5sbSAP8Ahhyb3CRoiQzS6RxP5IqA" height = '450px' alt="">
<br>
<%= "#{params[:str]} is #{@count} characters long" %>
<br>
<br>
<br>
<%= link_to 'Go Home', '/'%>
