<h1>Cuber</h1>
<img src="https://cdn.pixabay.com/photo/2015/05/08/23/31/dog-759061_960_720.jpg" height="400px" alt="">
<br>
Your number cubed is <%= @cubed %>.
<br>
<br>
<br>
<%= link_to 'Go Home', '/'%>
