<h1>Our Recommended International Destinations</h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2VfifvY5uyOH5AxPTEobc6FMRRffd54RdiXpccx2KKRrSxZQOHg" alt="dog">
<ul>
    <li>Ireland</li>
        <p>Good irish whiskey</p>
    <li>Scotland</li>
        <p>Good scotch whiskey</p>
    <li>Spain</li>
        <p>café con leche</p>
    <li>Morocco</li>
        <p>good mint tea</p>
</ul>
<br />
<br />
<br />
<%= link_to 'Go to Home', '/' %>
