<h1>Our Recommended Films</h1>
<img src="https://cdn.newsapi.com.au/image/v1/a526b721ace346c22e10399ed35e23f1?width=1024" alt="">
<br>
<ul>
    <li>The Revenant</li>
        <p>A tale that tells you that you can survive a bear attack and make it a very long way home to kill someone that killed your son.</p>
    <li>Black Mass</li>
        <p>A story about how you can use the government so you can get away with everything. Then become a fugitive.</p>
    <li>Nacho Libre</li>
        <p>A coming of age story about a monk who learns to accept his passion for wrestling, stretchy pants, and the finer things in life... like corn.</p>
    <li>Blood Diamond</li>
        <p>Enslaved gold miner, 'insert actors name' finds a goose-egg sized diamond and sees his way to freedom. A white guy tries to help him smuggle it out but has his own intentions of what the fortune from the stone may bring.</p>
</ul>
<br />
<br />
<br />
<%= link_to 'Go to Home', '/' %>
