<h1>Madlib</h1>
<img src="https://i.ytimg.com/vi/bzZEH_5OuIs/maxresdefault.jpg" alt="" height="300px">
<br>
<%= "A #{@noun} that liked to #{@verb} #{@adverb} was feeling #{@adjective}." %>
<br>
<br>
<br>
<%= link_to 'Go Home', '/'%>
