<h1>Palindrome</h1>
<img src="https://www.publicdomainpictures.net/pictures/240000/nahled/funny-dog-15091160994Oj.jpg" alt="dog">
<br>
<h4><%= @palin %></h4>
<br>
<br>
<br>
<%= link_to 'Go Home', '/'%>
