<h1>Prime Time TV Shows</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/5/54/Do_i_look_funny_or_something.jpg" height = '300px' alt="">
<br>
<ul>
    <li>Survivor</li>
        <p>a social construct of friends, foes, and challenges to test an individual's loyalty and drive to win</p>
    <li>Jeopardy</li>
        <p>questions? answers. smart people pushing buttons.</p>
    <li>Family Guy</li>
        <p>An animated clip show with lots of cutaways. A family take you on countless wacky adventures.</p>
    <li>Family Feud</li>
        <p>Questions with implications of dirty minds that are not intened, but always seem to emerge. And lots of not very smart people.</p>
</ul>
<br />
<br />
<br />
<%= link_to 'Go to Home', '/' %>
